.label {
  position: absolute;
  background: #2C64B7;
  border-radius: 30px;
  z-index: 2;
  left: 8px;
  top: 8px;
  padding: 3px 10px;
  color: white;
  font-size: 12px;
  font-weight: 700;

  &--blue { background: #2C64B7; }

  &--red { background: #E02323; }

  &--green { background: #11A960; }
}