* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 20px;
  font-family: "Source Sans Pro", sans-serif;
  background: #E5E5E5;
}

@import './app.scss';
@import './card/card.scss';
@import './fancyButton/fancyButton.scss';
@import './placeholder/placeholder.scss';
@import './label/label.scss';
@import './checkmark/checkmark.scss';